@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif; }

a {
  text-decoration: none; }

.container {
  max-width: 1280px;
  margin: 0 auto; }

.mainPage {
  width: 100%;
  height: 100vh;
  background-image: url(../imagens/img2.jpg);
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden; }

.mainPage2 {
  width: 100%;
  height: 100vh;
  background: #df6583;
  background: radial-gradient(circle, #df6583 0%, #4a5380 100%); }

@media (max-width: 1000px) {
  .mainPage2 {
    height: 1200px; } }
@media (max-width: 580px) {
  .mainPage2 {
    height: 1700px; } }
.logo {
  color: #fffaf0;
  font-size: 50px;
  cursor: pointer; }

.navbar {
  width: 85%;
  height: 15%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between; }

button {
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 1px solid #ffffff;
  outline: none;
  cursor: pointer; }

button:hover, .pacotesIr:hover {
  box-shadow: inset 0 0 1em gold, 0 0 1em #ff7e33; }

.content {
  color: #fbfcfd;
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translateY(-50%);
  z-index: 2; }

h3 {
  color: #fffaf0; }

.text {
  font-size: 75px;
  margin: 10px 0 30px;
  line-height: 80px;
  font-family: "Kaushan Script", cursive;
  color: #fffaf0; }

.pacotesIr {
  color: #fbfcfd;
  padding: 10px 25px;
  background: transparent;
  border: 2px solid #ffffff;
  outline: none;
  cursor: pointer;
  text-decoration: none; }

.side-bar {
  width: 60px;
  height: 100vh;
  background: linear-gradient(#eb3361, #000729);
  position: absolute;
  right: 0;
  top: 0; }

.menu {
  display: block;
  width: 25px;
  margin: 40px auto 0;
  cursor: pointer; }

.social-links img, .outros-links img {
  width: 35px;
  margin: 5px auto;
  cursor: pointer; }

.social-links {
  text-align: center;
  width: 50px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%); }

.outros-links {
  text-align: center;
  width: 50px;
  position: absolute;
  bottom: 30px; }

.luzes img {
  width: 50px;
  animation: luz 7s linear infinite; }

.luzes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: -60px; }

.textSobre {
  color: white;
  font-size: 23px;
  text-align: center; }

.tituloSobre {
  color: white;
  text-align: center; }

@keyframes luz {
  0% {
    transform: translateY(0);
    opacity: 0; }
  25% {
    opacity: 1; }
  50% {
    opacity: 1; }
  95% {
    opacity: 1; }
  100% {
    transform: translateY(80vh);
    opacity: 0; } }
.luzes img:nth-child(1) {
  animation-delay: 6s; }

.luzes img:nth-child(2) {
  animation-delay: 1s; }

.luzes img:nth-child(3) {
  animation-delay: 3s; }

.luzes img:nth-child(4) {
  animation-delay: 2s; }

.luzes img:nth-child(5) {
  animation-delay: 5.5s; }

.luzes img:nth-child(6) {
  animation-delay: 4s; }

.luzes img:nth-child(7) {
  animation-delay: 7s; }

/*# sourceMappingURL=style.css.map */
